body {
    transform: scale(0.75);
    margin-top: -75px;
}

.dopol {
    display: grid;
    justify-content: center;
    grid-template-areas:
    "convert-binary ctg kor fac"
    "convert-decimal tg mr enumb"
    "convert-hexadecimal cos mc pinumb"
    "convert-decimal-from-hexadecimal sin m-plus ln"
    "step2 exp m-minus step3";  
}

.buttons {
    display: grid;
    justify-content: center;
    grid-template-areas:
    "ac plusminus percent div"
    "seven eight nine multi"
    "four five six min"
    "one two three plus"
    "zero double-zero coma result";
}

.dopol {
    display: grid;
    justify-content: center;
}

.main {
    background-color: #A988F2;
    width: 750px;
    height: 700px;
    margin: auto;
    border-radius: 15%;
    border-color: black;
    padding: 40px;
}

.buttons div, .dopol div {
    display: flex;
    padding: 15px;
    margin: 10px;
    font-size: x-large;
    width: 50px;
    height: 50px;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.all-but {
    display: flex;
    margin: auto;
    justify-content: center;
    color:white;
}

.col1:hover {
    background-color: #e5ebb8;
}

.col2:hover {
    background-color:  #d9b9ae;
}

.numb:hover {
    background-color: #8b57d3;
}

.output-labels {
    width: 90%;
    height: 75px;
    margin: auto;
    border-radius: 10%;
    padding: 10px;
    color:wheat;
    display: flex;
    text-align: right;
    flex-direction: column;
}
.history {
    width: 100%;
    height: 25px;
    margin: 5px;
    background-color: wheat;
    color: black;
    padding-right: 5px;
}

.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.numb {
    background-color: #610BD9;
}

.col1 {
    background-color: #E0F252; 
    color: black;
}

.col2 {
    background-color: #D9A38F;
}

.output{
    width: 100%;
    font-size: 34px;
    background-color: white;
    color: black;
    margin: 5px;
    padding-right: 5px;
}


/**/
.conv {
    margin-left: 20%;
    display: flexbox;
}

select {
    appearance: none;
    background-color: rgba(255, 255, 255, 0.517);
    border: none;
    margin: 5px;
    width: 30%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.conv button {
    transition-duration: 0.4s;
    font-size: medium;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #E0F252;
    color: black;
    border: 2px solid black; 
}

.conv button:hover {
    background-color: rgb(0, 213, 255); 
    color: black;
}